<div class="container-fluid mb-5" id="contact">

    <div class="row">
        <div class=" col-12 col-lg-12 d-flex justify-content-center  ">
            <h2 class="font-1">Contacto</h2>
            <!-- <fa-icon [icon]="contactIcon" class="fas fa-user"></fa-icon> -->
        </div>
    </div>



    <div class="row d-flex justify-content-center mt-2 mt-lg-3">
        <div class="col-12 col-lg-5 d-flex justify-content-center  form-container">

            <form [formGroup]="form" class="d-flex flex-column  justify-content-center" >

                <div class="d-flex flex-column flex-md-column flex-lg-row">
                    <div class="d-flex flex-column me-lg-4">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" class="form-control" formControlName="nombre">
                    </div>
        
                    <div class="d-flex flex-column">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" formControlName="email">
                    </div>
                </div>
        
                <div class="d-flex flex-column mt-lg-4">
                    <label for="message">Mensaje:</label>
                    <textarea id="message" rows="5" cols="10" formControlName="mensaje"></textarea>
                </div>

                <div class="mt-3 mt-lg-4 d-flex justify-content-center align-items-center">
                    <input type="submit" id="sumbit" class="btn btn-submit d-flex justify-content-center align-items-center">
                </div>
        
        
            </form>
        
        </div>
    </div>
    



</div>