:root {
    --main-color: #FF8C00;
    }

.container-fluid {
    width: 90vw;
    
}

 
 #img-profile-container {
    position: relative;
    bottom: 3rem;
} 

.img-profile {
    width: 8rem;
    height: 9rem;
    position: relative;
    margin-top: -3rem;
}

#img-profile-container a {
    position: absolute;
    top: 25px;
    right: 20px;
}

fa-icon {
   font-size: 0.9rem;
}


#about h2 {
    letter-spacing: 0.01rem;
    font-size: 1.7rem;
    margin: 0rem 0 0 1rem;
    color: var(--main-color);
    
}

#about .about-text {
    font-size: 0.9rem;
    margin: 0rem 0 0 1rem;
}

#about .about-info {
    position: relative;
    bottom: 2rem;
    text-align: center;

}


#about .about-info div {
    text-align: center;
    margin-left: 2rem;
}

#about .about-info div  p:first-child {
    font-size: 1.1rem;
    color: var(--main-color);
}

#about .about-info div  p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 500;
    
}

#about .about-info div  p:nth-child(3) {
    font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
 
     .container-fluid {
         width: 95vw;
     }
 } 


/*DESKTOP*/
@media only screen and (min-width: 992px){

    .container-fluid {
        width: 97vw;
    }

    #img-profile-container {
        position: relative;
        bottom: 3rem;
    }

    #img-profile-container a {
        position: absolute;
        top: 65px;
        right: 25px;
    }
    
    .img-profile {
        width: 11rem;
        height: 12rem;
       position: relative;
      margin-top: -5rem;

    }
    
    #about h2 {
        letter-spacing: 0.01rem;
        font-size: 2rem;
    }

    
    #about .about-info-card {
        position: relative;
        height: 20rem;
        
    }

    
    #about .about-info {
        position: relative;
        bottom: 2rem;
    }
    
    #about .about-info div {
        text-align: center;
        margin-left: 2rem;
    }
    
    #about .about-info div  p:first-child {
        font-size: 1.4rem;
    }
    
    
    #about .about-info div  p:nth-child(2) {
        font-size: 1rem;
        font-weight: 500;
    }
    
    
    #about .about-info div  p:nth-child(3) {
        font-size: 0.9rem;
    }

    #about .about-text-card {
        margin-top: 5.5rem;
    }

    #about .about-text {
        font-size: 1rem;
    }
    
}
