<div class="container-fluid" id="about">

    <div class="row">
        <div class="col-12 col-lg-4 mt-1 about-info-card">
            <div class="card border border-0 d-flex flex-column align-items-center">

                <div id="img-profile-container" class="d-flex">
                    <img [src]="miPortfolio.profileImg" alt="img" class="img-profile rounded-circle">
                    <a href="#">
                        <fa-icon [icon]="editIcon" class="fas fa-pen"></fa-icon>
                    </a>
                </div>

                <div class="font-2 about-info d-flex">
                    <div>
                        <p>{{miPortfolio.name}}</p>
                        <p>{{miPortfolio.position}}</p>
                    </div>

                    <a href="#" class="d-flex justify-content-end  justify-content-lg-center">
                        <fa-icon [icon]="editIcon" class="fas fa-pen ms-5 ms-lg-3"></fa-icon>
                    </a>
                </div>
            </div>
        </div>



        <div class="col-10 col-lg-7 d-flex flex-column about-text-card">
            <div class="card border border-0">
                <div class="d-flex justify-content-between  justify-content-lg-between">
                    <h2 class="font-1">Sobre mi:</h2>

                    <div class="me-lg-5 about-icons">
                        <a href="#">
                            <fa-icon [icon]="editIcon" class="fas fa-pen me-3 me-lg-4"></fa-icon>
                        </a>

                        <a href="#">
                            <fa-icon [icon]="deleteIcon" class="fas fa-times"></fa-icon>
                        </a>
                    </div>
                </div>

                <p class="font-2 about-text">{{miPortfolio.about}}
                </p>
            </div>


        </div>
    </div>

</div>