:root {
    --main-color: #C71585;
    }

.container-fluid {
    width: 95vw;
    
}

 #img-profile-container {
    position: relative;
    bottom: 3rem;
} 

.img-profile {
    width: 8rem;
    height: 9rem;
    position: relative;
    margin-top: -3rem;
    box-shadow: 3px 4px 4px lightgray;
}

#img-profile-container a {
    position: absolute;
    top: 25px;
    right: 20px;
}

fa-icon {
   font-size: 0.9rem;
}


#about .about-info {
    position: relative;
    bottom: 2rem;
    margin-bottom: 0rem;
}


#about .about-info  p:nth-child(2) {
    font-size: 1.5rem;
    color: var(--main-color);
}

#about .about-info   p:nth-child(3) {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}


#about .about-info  p, a {
    color: rgb(58, 58, 58);
    font-size: 0.8rem;
    text-decoration: none;
    transition: 0.4s;
}

#about .about-info a:hover {
    color: var(--main-color);
}

#about .about-info svg{
    width: 1rem;
    height: 1rem;
}


#about h2 {
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-weight: bold;
    margin: 0rem 0 0 0rem;
    color: var(--main-color);
}

.animacion-intro i {
 font-size: 0.8rem;
 color: var(--main-color);
}

/* .animacion-titulo {
    opacity: 0;
    transition: 2s;
  }

.animacionScroll {
    animation: animacionScroll 2s;
}

@keyframes animacionScroll {
    0% {
        transform: translateX(-60px);
    }

    100% {
        transform: translateX(0);
    }
} */

#about .about-text-card {
    margin-top: 10rem;
}

#about .about-text {
    font-size: 0.9rem;
    margin: 0rem 0 0 0rem;
    line-height: 2rem;
}

@media only screen and (min-width: 768px) {
 
     .container-fluid {
         width: 95vw;
     }
 } 


/*DESKTOP*/
@media only screen and (min-width: 992px){

    .container-fluid {
        width: 97vw;
    }

    #img-profile-container {
        position: relative;
        bottom: 3rem;
    }

    #img-profile-container a {
        position: absolute;
        top:0px;
        right: 25px;
    }
    
    .img-profile {
        width: 11rem;
        height: 12rem;
        position: relative;
        margin-top: -5rem;
        box-shadow: 3px 5px 5px lightgray;
      

    }
    
    #about h2 {
        letter-spacing: 0.2rem;
        font-size: 2.2rem;
    }
/* 
    .animacion-titulo {
        opacity: 0;
        transition: 2s;
      }

    .animacionScroll {
        animation: animacionScroll 2s;
    }

    @keyframes animacionScroll {
        0% {
            transform: translateX(-60px);
        }
    
        100% {
            transform: translateX(0);
        }
    } */
    
    #about .about-info-card {
        position: relative;
        height: 20rem;
    }

    
    #about .about-info {
        position: relative;
        margin-bottom: 0rem;
    }
    
    
    #about .about-info  p:nth-child(2) {
        font-size: 1.7rem;
        color: var(--main-color);
    }
    
    #about .about-info   p:nth-child(3) {
        font-size: 1.1rem;
        font-weight: 500;
    }

    #about .about-info  p, a {
        font-size: 0.9rem;
        text-decoration: none;
        transition: 0.2s;
    }
    
    #about .about-info a:hover {
        color: var(--main-color);
    }
    #about .about-info svg{
        width: 1.2rem;
        height: 1.2rem;
    }

    #about .about-text-card {
        margin-top: 9rem;
    }

    #about .about-text {
        font-size: 1rem;
        line-height: 2.5rem;

    }
    
}
