:root {
    --main-color: #C71585;
    }

    #footer {
        margin-top: 6rem;
 
     }

    #footer p {
        font-size: 0.8rem;
        letter-spacing: 0.03rem;
        color: var(--main-color); 
    }


@media only screen and (min-width: 992px) {


    #footer {
       margin-top: 10rem;
    }

    #footer p {
        font-size: 0.9rem;
    }
}