<header class="container-fluid" id="header">
    <div class="row d-flex align-items-center  header">

        <div class="col-2 col-md-6 col-lg-4 d-flex  logo-img-container">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
                target="_blank">
                <img [src]="miPortfolio.logo" alt="logo" class="logo-img">
            </a>
            <p class="ms-md-2 mt-md-1 mt-3 ms-lg-3 mt-lg-1 font-1 fw-bold">Argentina Programa - #YoProgramo</p>
        </div>

        <div class="col-10 col-md-6 col-lg-8 d-flex justify-content-end  login-icons">

        

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">
                        <fa-icon [icon]="profileIcon" class="fas fa-user"></fa-icon>
                    </a>
                </li>
                <!-- *ngIf="authentic.logIn" / *ngIf="!authentic.logIn"  -->
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <fa-icon [icon]="logOutIcon" class="fas fa-sign-out-alt"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row d-flex justify-content-center mt-1 mt-lg-0">
        <div class="col-12 banner">

            <a href="#" class="d-flex justify-content-end ">
                <fa-icon [icon]="editIcon" class="fas fa-pen"></fa-icon>
            </a>


            <!-- <div class="d-flex justify-content-center">
                <img [src]="miPortfolio.banner" class="banner-img" alt="banner">
            </div> -->


        </div>
    </div>
</header>