<header class="container-fluid border " id="header">
    <div class="row d-flex align-items-center header">

        <div class="col d-flex align-items-center">
            <img [src]="miPortfolio.img" alt="logo">
            <p class="ms-lg-4 mt-lg-2">Argentina Programa - #YoProgramo</p>
        </div>

        <div class="col d-flex justify-content-end align-items-center me-lg-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="linkedinIcon" class="fab fa-linkedin"></fa-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon [icon]="profileIcon" class="fas fa-user"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row border border-primary banner">
            <div class="col">
                <a href="#">
                    <fa-icon [icon]="editIcon" class="fas fa-pen"></fa-icon>
                </a>
                <img src="/imagenes/banner.png">
            </div>
    </div>
</header>

