<div class="container-fluid modal-container">
    <div class="row">

        <div class="col-10 col-lg-12 modal-container">

            <div class="modal d-flex flex-column">

                <a href="" class="d-flex justify-content-end me-3 mt-2  me-lg-4 mt-lg-2">
                    <fa-icon [icon]="deleteIcon" class="fas fa-times"></fa-icon>
                </a>

                <div>
                    <h2 class="mt-1 mb-4 mt-lg-2 mb-lg-4 font-1">Welcome!</h2>

                    <form [formGroup]="form">
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex flex-column">
                                <!-- <label for="username">Username:</label> -->
                                <input type="text" name="username" id="username" placeholder="Username" class="form-control" formControlName="username">
                            </div>

                            <div class="d-flex flex-column mt-4 mt-lg-5">
                                <!-- <label for="email">Email:</label> -->
                                <input type="email" name="email" id="email" placeholder="Email" class="form-control" formControlName="email">
                            </div>

                            <div class="d-flex flex-column mt-4  mt-lg-5">
                                <!-- <label for="password">Password:</label> -->
                                <input type="password" name="password" id="password" placeholder="Password" class="form-control" formControlName="password">
                            </div>
                        </div>

                        <div class="submit-btn mt-4 mt-lg-5 d-flex justify-content-center">
                            <button type="submit" class="btn d-flex align-items-center justify-content-center"
                                (click)="Login()">
                                Sign In
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
</div>