:root {
    --main-color: #FF8C00;
    }

* {
    overflow: hidden;
}

.container-fluid {
    width: 95vw;
}


fa-icon {
    font-size: 0.8rem;
}
#education {
    margin-top: 7rem;
}

#education h2 {
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin: 0rem 0 1rem 0rem;
    color: var(--main-color);
    border: 0;
    border-bottom: 1px solid var(--main-color);
}

#education li {
    padding: 1rem 1rem;
    border: 0;
    border-bottom: 1px solid lightgray;
    box-shadow: 3px 3px 3px lightgray;
}

.data-list {
    margin-left: 1.5rem;
}


.data-list h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.data-list p:nth-child(2) {
    font-size: 1rem;
}
  
.data-list p:nth-child(3) {
    font-size: 0.8rem;
}

#education ul li {
    list-style: none;
}


.img-logo {
    width: 3rem;
    height: 3rem;
}

@media only screen and (min-width: 768px) {
 
     .container-fluid {
         width: 95vw;
     }
 } 


@media only screen and (min-width: 992px) {
   
    .container-fluid {
        width: 95vw;
    }


fa-icon {
    font-size: 1rem;
}
   
    #education {
        margin-top: 10rem;
    }
    
    #education h2 {
        letter-spacing: 0.2rem;
        font-size: 2.2rem;
        margin-top: 0 0 3rem 0;
        border: 0;
        border-bottom: 2px solid var(--main-color);
    }

    #education li {
        padding: 1rem 0;
        box-shadow: 3px 2px 4px lightgray;
    }

    #education h4 {
        letter-spacing: 0.05rem;
        font-size: 1.4rem;
    }
    
    .data-list-container, .data-list {
        margin-left: 6rem;
    }
 
    .data-list p:nth-child(2) {
        font-size: 1.1rem;
    }
      
    .data-list p:nth-child(3) {
        font-size: 0.9rem;
    }
    
    .data-list p:nth-child(4) {
        font-size: 0.8rem;
        color: gray;
    }
    
  
     
    .img-logo {
        width: 5rem;
        height: 5rem;
    } 
}