<div class="container-fluid" id="proyects">

    <div class="row">
        <div class="col-lg-6  d-flex justify-content-lg-center">
            <h2 class="font-1">Proyectos:</h2>
        </div>
    </div>



    <div class="row d-flex justify-content-center">

        <div class="col-12 col-lg-5 border mb-4 mb-lg-0 me-lg-3 d-flex justify-content-center">
            <div class="proyect-container">

            </div>
        </div>

        <div class="col-12 col-lg-5 border d-flex justify-content-center">
            <div class="proyect-container">

            </div>
        </div>

    </div>

</div>