/* You can add global styles to this file, and also import other style files */
:root {
--main-color: #FF8C00;
}

.font-1 {
    font-family: Libre Franklin;
}

fa-icon {
    color: rgb(92, 92, 92);
    transition: 0.2s;
}

fa-icon:hover {
    color: black;
}

