<div class="container-fluid border border-primary mt-lg-5" id="experience">

    <div class="row">
        <div class="col">
            <h2>Experiencia:</h2>
        </div>
    </div>



    <div class="row mt-lg-4">

            <ul>
                <li *ngFor="let experiencia of miPortfolio">


                    <div class=" d-flex justify-content-end">
                        <a href="#">
                            <fa-icon [icon]="editIcon" class="fas fa-pen me-lg-4"></fa-icon>
                        </a>
            
                        <a href="#" class="me-lg-5">
                            <fa-icon [icon]="deleteIcon" class="fas fa-times"></fa-icon>
                        </a>
                    </div>


                    <div class="data-container d-flex mb-lg-5">
                        <div class="img-logo-container col-lg-6 d-flex justify-content-lg-center">
                            <img [src]="experiencia.img" alt="logo">
                        </div>

                        <div class="data-list col-lg-6">
                            <div>
                                <h4>{{experiencia.company}}</h4>
                                <p>{{experiencia.position}}</p>
                                <p><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></p>
                                <p>{{experiencia.time}}</p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

 
</div>

